<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProtectProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProtectProcess.Properties.Settings>
            <setting name="FILE_NAME" serializeAs="String">
                <value>NotificationManager</value>
            </setting>
            <setting name="FILE_PATH" serializeAs="String">
                <value>C:\NotificationManager.exe</value>
            </setting>
        </ProtectProcess.Properties.Settings>
    </applicationSettings>
</configuration>